@import "compass/css3";

.jumbotron{
  background-image: url(public/external/bg.jpg);
  background-attachment: fixed;
  color: white;
  background-size: cover;
  background-position: 0-50px;
  height: 250px;
}

.rencanakan-perjalanan-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.rencanakan-perjalanan-rencanakan-perjalanan {
  width: 100%;
  height: 1024px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.rencanakan-perjalanan-background {
  top: 0px;
  left: 0px;
  width: 1096px;
  height: 1548px;
  position: absolute;
}
.rencanakan-perjalanan-checkout {
  top: 1411px;
  left: 67px;
  width: 952px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.rencanakan-perjalanan-text {
  top: 24px;
  left: 838px;
  color: rgba(177, 156, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: underline;
}
.rencanakan-perjalanan-text02 {
  top: 24px;
  left: 133px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text04 {
  top: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-line1 {
  top: 0px;
  left: 0px;
  width: 952px;
  height: 1px;
  position: absolute;
}
.rencanakan-perjalanan-button {
  top: 356px;
  left: 919px;
  width: 124px;
  height: 944px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.rencanakan-perjalanan-text06 {
  top: 924px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text08 {
  top: 771px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text10 {
  top: 634px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text12 {
  top: 498px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text14 {
  top: 361px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text16 {
  top: 137px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-hoteldan-penginapan {
  top: 595px;
  left: 53px;
  width: 746px;
  height: 756px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.rencanakan-perjalanan-text20 {
  top: 720px;
  left: 153px;
  color: rgba(177, 156, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text22 {
  top: 683px;
  left: 153px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text24 {
  top: 653px;
  left: 153px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-palazo {
  top: 636px;
  left: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 20px;
}
.rencanakan-perjalanan-text26 {
  top: 577px;
  left: 153px;
  color: rgba(177, 156, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text28 {
  top: 540px;
  left: 154px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text30 {
  top: 510px;
  left: 153px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-kadena {
  top: 493px;
  left: 0px;
  width: 120px;
  height: 119px;
  position: absolute;
  border-radius: 20px;
}
.rencanakan-perjalanan-text32 {
  top: 432px;
  left: 154px;
  color: rgba(177, 156, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text34 {
  top: 395px;
  left: 156px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text36 {
  top: 365px;
  left: 153px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-mutiara {
  top: 349px;
  left: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 20px;
}
.rencanakan-perjalanan-text38 {
  top: 289px;
  left: 153px;
  color: rgba(177, 156, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text40 {
  top: 252px;
  left: 154px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text42 {
  top: 222px;
  left: 153px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-jayakarta {
  top: 206px;
  left: 0px;
  width: 120px;
  height: 119px;
  position: absolute;
  border-radius: 20px;
}
.rencanakan-perjalanan-text44 {
  top: 145px;
  left: 153px;
  color: rgba(177, 156, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text46 {
  top: 108px;
  left: 153px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text48 {
  top: 78px;
  left: 153px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-novus {
  top: 62px;
  left: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 20px;
}
.rencanakan-perjalanan-text50 {
  top: 7px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-homeline {
  top: 0px;
  left: 8px;
  width: 38px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.rencanakan-perjalanan-path {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.rencanakan-perjalanan-vector {
  top: 3.1666667461395264px;
  left: 1.5833333730697632px;
  width: 35px;
  height: 31px;
  position: absolute;
}
.rencanakan-perjalanan-transportasi {
  top: 240px;
  left: 53px;
  width: 837px;
  height: 323px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.rencanakan-perjalanan-jakarta {
  top: 203px;
  left: 0px;
  width: 837px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.rencanakan-perjalanan-text52 {
  top: 83px;
  left: 153px;
  color: rgba(177, 156, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text54 {
  top: 46px;
  left: 153px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text55 {
  font-weight: 400;
}
.rencanakan-perjalanan-kampung-rambutan {
  top: 16px;
  left: 153px;
  width: 684px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.rencanakan-perjalanan-text57 {
  top: 1px;
  left: 408px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-arrowleftrightline {
  top: 0px;
  left: 378px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.rencanakan-perjalanan-text59 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-jakarta1 {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 20px;
}
.rencanakan-perjalanan-surabaya {
  top: 61px;
  left: 0px;
  width: 748px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.rencanakan-perjalanan-text61 {
  top: 83px;
  left: 153px;
  color: rgba(177, 156, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text63 {
  top: 46px;
  left: 153px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text64 {
  font-weight: 400;
}
.rencanakan-perjalanan-purabaya {
  top: 16px;
  left: 153px;
  width: 595px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.rencanakan-perjalanan-text66 {
  left: 319px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-arrowleftrightline1 {
  top: 0px;
  left: 293px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.rencanakan-perjalanan-text68 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-surabaya1 {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 20px;
}
.rencanakan-perjalanan-text70 {
  top: 8px;
  left: 54px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-carline {
  top: 0px;
  left: 11px;
  width: 38px;
  height: 39px;
  position: absolute;
}
.rencanakan-perjalanan-rencanakan-perjalanan1 {
  top: 93px;
  left: 75px;
  width: 564px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.rencanakan-perjalanan-travel-icon {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
}
.rencanakan-perjalanan-text72 {
  top: 68px;
  left: 141px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.rencanakan-perjalanan-text74 {
  top: 29px;
  left: 137px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
