@media screen and (min-height: 350px) {
  .carousel-item {
    max-height: 350px !important;
  }
}
@media screen and (max-height: 600px) {
  .carousel-item {
    max-height: 400px !important;
  }
}
.c-item {
  height: 480px;
}
.c-img {
  height: 100%;
  object-fit: img;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.right-column {
  width: 100%;
  text-align: center;
}
